{% extends 'base.html.twig' %}

{% block title %}Modifier {{movie.name}}{% endblock %}

{% block body %}
    <h1>Modifier {{movie.name}}</h1>

    {{ include('movies/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('movies_index') }}">Retourner à la liste</a>

    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
