{% extends 'base.html.twig' %}

{% block title %}{{movie.name}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1 class="my-3">{{movie.name}}</h1>
        </div>
        {% if user.id is defined %}
        {% if movie.user.id == user.id %}
            <div class="col-3">
                <a href="{{ path('movies_edit', {'id': movie.id}) }}" class="btn  btn-light my-4">Éditer le film <i
                            class="far fa-edit fa-lg"></i></a>

            </div>
            <div class="col-3">
                <a href="{{ path('movies_delete', {'id': movie.id}) }}" class="btn btn-outline-danger my-4">Supprimer
                    le film <i
                            class="far fa-trash-alt fa-lg"></i></a>
            </div>
        {% endif %}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <img src="{{ vich_uploader_asset(movie, 'imageFile') }}" alt="{{movie.imageName}}" class="img-fluid poster">
        </div>
        <div class="col-lg-6 col-12">
            <iframe width="500" height="400" src="{{movie.trailerLink}}">
            </iframe>
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <ul class="list-unstyled">
                <li>
                    Date de sortie : {{ movie.releaseDate|date('d-m-Y')}}
                </li>
                <li>
                    Durée du film : {{ movie.duration}} minute(s)
                </li>
                <li>
                    Réalisateur : 
                    <ul>
                    {% for real in movie.director %}
                    <li>{{real.firstName}} {{real.lastName}}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    Rédacteur : 
                    <ul>
                    {% for redac in movie.writer %}
                    <li>{{redac.firstName}} {{redac.lastName}}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    Acteur : 
                    <ul>
                    {% for actor in movie.actor %}
                    <li>{{actor.firstName}} {{actor.lastName}}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    Genre : 
                    <ul>
                    {% for genre in movie.genre %}
                    <li>{{genre.name}}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-12">
            <div class="row">
                <h4>Le synopsis</h4>   
            </div>
            <p>{{movie.synopsis}}</p>
        </div>
    </div>
    
    </div>

{% endblock %}